#
# Logical Preferences generated for Lattice by Synplify map202003lat, Build 172R.
#

# Period Constraints 
FREQUENCY PORT "ipClk" 50.0 MHz;


# Output Constraints 

# Input Constraints 

# Point-to-point Delay Constraints 


BLOCK PATH FROM PORT "ipnReset"  TO CELL "opLED_1_0io[4]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER_UART_Inst_rxio" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER_UART_Inst_opTxio" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "opLED_1[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "opLED_1[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_state[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_packet[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_packet[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[4]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[5]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[6]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/rx_len[7]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/opRxStream.Valid" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_state[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_state[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_cnt[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_cnt[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_cnt[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/tx_cnt[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_state[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_state[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_cnt[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_cnt[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_cnt[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/rx_cnt[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxValid" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[4]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[5]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[6]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/opRxData[7]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[0]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[1]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[2]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[3]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[4]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[4]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[5]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[5]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[6]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[6]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[7]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[7]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[8]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt[8]" ;
BLOCK PATH FROM PORT "ipnReset"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[9]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "opLED_1_0io[4]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER_UART_Inst_rxio" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER_UART_Inst_opTxio" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "opLED_1[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "opLED_1[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_state[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_packet[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_packet[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[4]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[5]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[6]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/rx_len[7]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/opRxStream.Valid" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_state[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_state[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_cnt[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_cnt[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_cnt[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/tx_cnt[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_state[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_state[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_cnt[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_cnt[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_cnt[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/rx_cnt[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxValid" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[4]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[5]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[6]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/opRxData[7]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[0]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[1]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[2]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[3]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[4]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[4]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[5]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[5]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[6]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[6]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[7]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[7]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[8]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt[8]" ;
BLOCK PATH FROM PORT "ipUART_Rx"  TO CELL "PACKETISER/UART_Inst/clk_cnt2[9]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "opLED_1_0io[4]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_rxio"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER_UART_Inst_opTxio"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "opLED_1[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "opLED_1[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_state[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_packet[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[4]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[5]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[6]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/rx_len[7]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/opRxStream.Valid"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_state[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/tx_cnt[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_state[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/rx_cnt[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxValid"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[4]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[5]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[6]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/opRxData[7]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[0]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[1]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[2]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[3]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[4]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[4]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[5]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[5]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[6]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[6]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[7]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[7]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[8]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt[8]"  TO PORT "opLED[7]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[0]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[1]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[2]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[3]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[4]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[5]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[6]" ;
BLOCK PATH FROM CELL "PACKETISER/UART_Inst/clk_cnt2[9]"  TO PORT "opLED[7]" ;

# Block Path Constraints 

BLOCK ASYNCPATHS;

# End of generated Logical Preferences.
